<section class="booked-tours">
  <div class="error-div" *ngIf="errorDiv">
    <img src="../../../assets/nobookings.png" class="no-history" alt="">
    {{errorMsg}} yet .
    <p>Visit the <a routerLink='tours' style="cursor: pointer;">Tours </a>page to create a booking</p>
  </div>
  <div class="tours">
    <div class="card" *ngFor="let tour of tours; let i = index">
  <div class="container">
    <img class="card-img" src="{{tour.tour_img}}" alt="">
    <div class="overlay">
      <div class="text">
        <h2>{{tour.tour_title}}</h2>
        <ul>
          <li>{{tour.start_date}}</li>
          <li>{{tour.end_date}}</li>
        </ul>
        <p>{{tour.tour_desc}}</p>
      </div>
    </div>
  </div>
  <div class="action-btns">
    <button class="cancel-tour"><i class="fa-solid fa-xmark"></i> Cancel Tour</button>
  </div>
</div>

  </div>
</section>
