/* You can add global styles to this file, and also import other style files */
*{
 margin: 0;
 padding: 0;
}
body{
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input{
  text-transform: lowercase;
}
.dash-content{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  gap: 10px;
}

.dashboard {
  /* justify-self: end; */
  width: 78vw;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

