<section class="sidebar">
  <div class="side-bar">
  <div class="side-links">
    <div class="profile">
      <!-- <img src="../../../assets/diani.jpg" alt=""> -->
      <!-- <div class="profile-details">
        <h4>Kenedy Maina</h4>
        <p>kennynet66&#64;gmail.com</p>
      </div> -->
    </div>
    <ul class="links">
      <h1 class="title" >Menu</h1>
      <li><a>Tours</a></li>
      <li><a>Hikes</a></li>
      <li><a>Cultural tour</a></li>
      <li><a>History</a></li>
      <li><a>Reviews</a></li>
      <li><a>Profile</a></li>
    </ul>

  </div>
  <div class="logout-btn">Logout </div>
</div>
</section>

