<section class="sidebar">
  <div class="side-bar">
  <div class="side-links">
    <div class="profile">
    </div>
    <ul class="links">
      <h1 class="title" >Menu</h1>
      <li routerLink='/user-dashboard'><a><i class="fa-regular fa-calendar"></i> Events</a></li>
      <li routerLink="history"><a><i class="fa-solid fa-clock-rotate-left"></i> History</a></li>
      <li routerLink="reviews"><a><i class="fa-regular fa-comment"></i> Reviews</a></li>
      <li routerLink="profile"><a><i class="fa-regular fa-user"></i> Profile</a></li>
    </ul>

  </div>
  <div class="logout-btn">Logout </div>
</div>
</section>

