nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 20px;
  height: 10vh;
  color: #fff;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.links >a {
  cursor: pointer;
}

.links >a:hover {
  color: #dbdbdb;
}

@media (max-width: 425px) {
  .links >a {
    display: none;
  }
 }
