<title>Xplora | signup</title>
<app-navbar></app-navbar>
<div class="content-wrapper">
<div class="login-div">
  <img src="../../../assets/pexels-pixabay-417173 (1).jpg" alt="">
  <form [formGroup]="signupForm" (ngSubmit)="signupUser(signupForm.value)" class="login-form">
    <h1 style="font-weight: bold;">Create Account</h1>
    <div class="success" *ngIf="successDiv">{{successMsg}}</div>
    <div class="error" *ngIf="errorDiv">{{errorMsg}}</div>
    <div class="input-div">
      <label for="email">Full name:</label> <br>
      <input type="email" formControlName="full_name" placeholder="John Doe">
      <div class="email-error" *ngIf="signupForm.get('full_name')?.invalid && signupForm.get('full_name')?.touched && !signupForm.get('full_name')?.dirty">Full name is required</div>
      <div class="email-error" *ngIf="signupForm.get('full_name')?.invalid && signupForm.get('full_name')?.touched && signupForm.get('full_name')?.dirty">Minimum of 3 characters</div>
    </div>
    <div class="input-div">
      <label for="email">Email:</label> <br>
      <input type="email" formControlName="email" placeholder="johndoe@gmail.com">
      <div class="email-error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched && !signupForm.get('email')?.dirty">Email is required</div>
      <div class="email-error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched && signupForm.get('email')?.dirty">Invalid email format</div>
    </div>
    <div class="input-div">
      <label for="password">Password:</label> <br>
      <input type="password" name="password" formControlName="password" placeholder="* * * * * * * *">
      <div class="pass-error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched && !signupForm.get('password')?.dirty">Password is required</div>
      <div class="pass-error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched && signupForm.get('password')?.dirty">Minimum Password length is 4 characters</div>
    </div>
    <div class="input-div">
      <input type="submit" *ngIf="signupForm.invalid" id="inactive" class="login-btn" disabled value="Create Account">
      <input type="submit" *ngIf="signupForm.valid" class="login-btn" value="Create Account">
    </div>
  </form>
</div>
</div>
<app-footer></app-footer>
