<section class="history">
  <h1 class="title"><i class="fa-solid fa-clock-rotate-left"></i> You visited </h1> <hr>
  <div class="destination-cards">
    <div class="card">
      <img class="card-img" src="../assets/aberdare.jpg" alt="">
      <div class="card-title"><h3>Aberdare Ranges</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
      <button class="review">Review</button>
    </div>
    <div class="card">
      <img class="card-img" src="../assets/kit-mikayi.jpg" alt="">
      <div class="card-title"><h3>Kit Mikayi</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
      <button class="review">Review</button>
    </div>
    <div class="card">
      <img class="card-img" src="../assets/diani.jpg" alt="">
      <div class="card-title"><h3>Diani Beach</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
      <button class="review">Review</button>
    </div>
  </div>
</section>
