.profile {
  padding: 10px;
}

.page-title {
  font-size: 30px;
  color: #ffffff;
}

.user-details {
  margin-top: 2%;
  display: flex;
  align-items: center;
}
.dp {
  cursor: pointer;
  width: 80%;
  flex-wrap: wrap;
  object-fit: contain;
  border-radius: 50%;
}

.personal-info ul{
  list-style-type: none;
  font-size: 25px;
  color: #ffffff;
}

.p-title {
  font-weight: bold;
  margin: 2%;
}
.p-title p{
  cursor: pointer;
  font-weight: normal;
  font-size: 20px;
}

.p-title p:hover {
  text-decoration: underline;
  transition-duration: 0.3s;
  color: blue;
}