<title>Xplora | Landing page</title>
<app-navbar></app-navbar>
<section class="welcome">
  <div class="text-content">
    <h1>Welcome to Xplora</h1>
    <p>Your number one tours and travels platform that aims to simplify your travel experience by providing a one stop
      solution for discovering, booking and enjoying tours around Kenya.</p>
  </div>
  <div class="destinations" style="text-align: center; margin: 2%;">
    <h1>Our destinations</h1>
    <!-- <div class="destination-cards">
    <div class="card">
      <img class="card-img" src="../assets/aberdare.jpg" alt="">
      <div class="card-title"><h3>Aberdare Ranges</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
    </div>
    <div class="card">
      <img class="card-img" src="../assets/kit-mikayi.jpg" alt="">
      <div class="card-title"><h3>Kit Mikayi</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
    </div>
    <div class="card">
      <img class="card-img" src="../assets/diani.jpg" alt="">
      <div class="card-title"><h3>Diani Beach</h3></div>
      <div class="card-desc">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
    </div>
  </div> -->
    <div class="destination-cards">
      <div class="container">
        <img class="card-img" src="../assets/aberdare.jpg" alt="">
        <div class="overlay">
          <div class="text">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the
            spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
        </div>
      </div>
      <div class="container">
        <img class="card-img" src="../assets/kit-mikayi.jpg" alt="">
        <div class="overlay">
          <div class="text">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the
            spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
        </div>
      </div>
      <div class="container">
        <img class="card-img" src="../assets/diani.jpg" alt="">
        <div class="overlay">
          <div class="text">Alluring and dreamy, the rise and fall of the misty valleys, hills and mountains of the
            spectacular Aberdare ranges that sit across Nyeri and Nyandarua counties are a sight to behold.</div>
        </div>
      </div>
    </div>

  </div>
</section>